<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>562991921054-r2587fuqjjcb5j0e40bofr3plm2rlg9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562991921054-r2587fuqjjcb5j0e40bofr3plm2rlg9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDmQrWM37WcgwUDipFbPxYOAq391VPk65k</string>
	<key>GCM_SENDER_ID</key>
	<string>562991921054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WHITE.CloudyWeather</string>
	<key>PROJECT_ID</key>
	<string>weather-21368</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-21368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562991921054:ios:76a4889a22d0920c</string>
	<key>DATABASE_URL</key>
	<string>https://weather-21368.firebaseio.com</string>
</dict>
</plist>